.btn{
    background-color: #ed1d24;
    padding:.9rem 2.5rem;
    color:white;
    width:14rem;
    height: 3.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.1s all ;

    &:hover{
        background: #09536F;

    }
}