.ourTeam{
    padding:6rem 10rem;
    background-color: #f9fafb;
}

.header{
    text-align:center;
    font-size: 2.7rem;
    margin-bottom: 1.3rem;

}

.text{
    text-align: center;
    width: 45rem;
    margin: auto;
    color:#555;
    font-size: 1.2rem;
}

.teamGallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
        width: 25%;
        margin: 1.5rem;
    }

    img{
        width: 100%;
        margin: 1.5rem;
        height: 20rem;
        filter: grayscale(90);
        
    }
}