.ourTeam{
    padding:6rem 10rem;
    background-color: #f9fafb;
    @media screen and (max-width:800px){
        padding: 5rem 0 ;
        .text{
            width: auto;
        }
    }
}

.header{
    text-align:center;
    font-size: 2.7rem;
    margin-bottom: 1.3rem;

}

.text{
    text-align: center;
    width: 45rem;
    margin: auto;
    color:#555;
    font-size: 1.2rem;
}

.teamGallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  @media screen and (max-width:800px){
      flex-direction: column;
      align-items: center;
  }
    div{
        width: 25%;
        margin: 1.5rem;
        @media screen and (max-width:800px){
        width: 60%;
        margin: auto;
        img{
            margin: 1.5rem auto;
        }
        }
    }

    img{
        width: 100%;
        margin: 1.5rem;
        height: 20rem;
        filter: grayscale(90);
        object-fit: cover;
    }
}